{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<h1>DETTAGLI</h1>
<div class="content-section">

    <h2 class="account-heading"> Argomento: {{ object.argomento }}</h2>
    <h2 class="text-secondary"> proposto da: {{ object.tutor }}</h2>
    <!--<h2 class="text-secondary"> data inizio : {{ object.data_inizio }}</h2>
    <h2 class="text-secondary"> data fine : {{ object.data_fine }}</h2> -->

    {% if is_docente %}
    {% else %}

     <a href="{% url 'attivita-request-precompiled' object.id %}">Richiedi</a>
    {% endif %}
   <!-- <a href="{{request.META.HTTP_REFERER}}">Go back</a>-->
    <a href="{% url 'profile'  %}">Vai al Profilo</a>
    <a href='/' >Vai alla HomePage</a>


</div>
{% endblock %}



