{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="content-section">
    <h1>Nuova richiesta:</h1>

    <p class="text-secondary">
        Verrà creata una richiesta per la attività "{{ object.argomento }}"
    </p>
    <!-- <p class="text">Nome Tutor : {{ object.tutor }}</p>
    <p class="text">Nome argomento : {{ object.argomento }}</p> -->
    <label for="fname">Nome tutor:</label>
    <input type="text" id="fname" name="fname" value="{{ object.tutor }}" readonly><br><br>

    <label for="fname">Argomento:</label>
    <input type="text" id="fname" name="fname" value="{{ object.argomento }}" readonly><br><br>


        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
        <!--<fieldset class="form-group">-->
        <!--<legend class="border-bottom mb-4">Creazione Tesi</legend>-->

                {{ form.as_p }}
        <!--</fieldset>-->
                <div class="form-group">
                    <button class="btn btn-black" type="submit">Salva</button>
                </div>
            </form>

        </div>
    <a href="/">Go back</a>

</div>
{% endblock %}
