{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="content-section">
    <h1>DETTAGLI RICHIESTA DI PROVA FINALE</h1>
    <h2 class="account-heading"> Argomento: {{ argomento }} data di laurea prevista per il {{ data }}</h2>
    <h2 class="text-secondary"> proposto da {{ name }}</h2>
    <h2 class="text-secondary"> mail {{ mail }}</h2>
     <h2 class="text-secondary"> tipologia {{ tipo }}</h2>

    <div class="form-group">
        <form method='get' action='#'>
            <input class="btn btn-info btn-xs" type="submit" value="Accetta" name="Accetta"/>
            <input class="btn btn-info btn-xs" type="submit" value="Rifiuta" name="Rifiuta"/><br><br>
            Errori: <textarea name='errori' rows=7 cols=23></textarea><br><br>
            <input class="btn btn-info btn-xs" type="submit" value="Segnala Errori" name="Segnala Errori"/>
        </form>
        <!-- <form method='get' action='#'>

        </form>
        <form method='get' action='#'>

        </form> -->


    </div>
    <a href="/" class="btn btn-info btn-xs" role="button">Go back</a>


</div>
{% endblock %}

