{% include 'attivita/detail_attivita_template.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="content-section">

     <h3 class="text-secondary">data di laurea prevista per il {{ object.data_laurea }}</h3>

    <h3 class="text-secondary"> titolo dell'elaborato: {{ object.titolo_elaborato }}</h3>
     <h3 class="text-secondary"> tipologia: {{ object.tipologia }}</h3>

    <div class="form-group">
        <form method='get' action='#'>
            <input class="btn btn-info btn-xs" type="submit" value="Accetta" name="Accetta"/>
            <input class="btn btn-info btn-xs" type="submit" value="Rifiuta" name="Rifiuta"/><br><br>
            Errori: <textarea name='errori' rows=7 cols=23></textarea><br><br>
            <input class="btn btn-info btn-xs" type="submit" value="Segnala Errori" name="Segnala Errori"/>
        </form>
        <!-- <form method='get' action='#'>

        </form>
        <form method='get' action='#'>

        </form> -->


    </div>
    <a href="/" class="btn btn-info btn-xs" role="button">Go back</a>


</div>
{% endblock %}

