{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="content-section">
    <h1>DETTAGLI RICHIESTA DI PROVA FINALE</h1>
    <h2 class="account-heading"> Argomento: {{ argomento }} data di laurea prevista per il {{ data }}</h2>
    <h2 class="text-secondary"> proposto da {{ name }}</h2>
    <h2 class="text-secondary"> mail {{ mail }}</h2>
     <h2 class="text-secondary"> tipologia {{ mail }}</h2>

    <div class="form-group">
        <form method='get' action='#'>
            <input type="submit" value="Accetta" name="Accetta"/>
        </form>
        <form method='get' action='#'>
            <input type="submit" value="Rifiuta" name="Rifiuta"/>
        </form>
        <form method='get' action='#'>
            <input type="submit" value="Segnala Errori" name="Segnala Errori"/>
        </form>


    </div>
    <a href="/">Go back</a>


</div>
{% endblock %}

