{% extends 'home/base_index.html' %}

{% block for %}
<h1> Tutte le attività progettuali archiviate</h1>
<ul class="cards">
    {% for att in all_att %}
    <li>
        <h3>Argomento : {{ att.argomento }}</h3>
        <h3>Relatore : {{ att.tutor }}</h3>

        <!-- dettagli -->
        <a href="{% url 'att_archiviata_detail' att.id %}" class="btn btn-info btn-xs" role="button"> View
            Details</a>


    </li>
    {% endfor %}
</ul>

<div class="btn btn-black">
    <a class="btn btn-outline-secondary" href="{% url 'profile' %}">Indietro</a>
</div>
{% endblock %}

