{% extends 'home/base_index.html' %}

{% block for %}
<h1> Tutte le tesi archiviate:</h1>
<ul class="cards">
    {% if all_tesi %}
    {% for tesi in all_tesi %}
    <li>
        <h3>Argomento : {{ tesi.argomento }}</h3>
        <h3>Relatore : {{ tesi.relatore }}</h3>
        <h3>tirocinio : {{ tesi.tirocinio }}</h3>
        {% if tesi.tirocinio == 'in azienda' %}
        <h3>nome azienda : {{ tesi.nome_azienda }}</h3>
        {% endif %}
        <!-- dettagli -->
        <a href="{% url 't_archiviata_detail' tesi.id %}" class="btn btn-info btn-xs" role="button"> View
            Details</a>


    </li>
    {% endfor %}
    {% else %}
    <h3>Non ci sono tesi archiviate</h3>
    {% endif %}

</ul>

<div class="btn btn-black">
    <a class="btn btn-outline-secondary" href="{% url 'profile' %}">Indietro</a>
</div>
{% endblock for %}

