{% extends 'home/base.html' %}

{% block body %}
<div class="container-fluid">

    <div class="editor-indent" style="margin-left: 20px; padding: 0 0 0 40px; margin-right: 50px">


        <div class="col-xs-12">

            <ul class="cards">
                {% for att in all_att %}
                <li>
                    <h3>Argomento : {{ att.argomento }}</h3>

                    {% if att.tutor %}
                    <h3>Relatore : {{ att.tutor }}</h3>

                    <!-- dettagli -->
                    <a href="{% url 'attivita-detail' att.id %}" class="btn btn-info btn-xs" role="button"> View
                        Details</a>
                    {% endif %}

                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>

{% endblock %}

