<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} Home {% endblock %} </title>
    {% load static %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy">


    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'home/profile_doc.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'home/griglia.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'home/sidebar.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'home/sidebar_profile.css' %}"/>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</head>
<body>
<div id="wrapper">
    <header id="page-header" class="clearfix">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span6">

                    <div class="logo-header">
                        <a class="logo" href="{% url 'index' %}" title="Home">
                            <img src="//dolly.ingmo.unimore.it/2019/pluginfile.php/1/theme_lambda/logo/1588594904/ingmo.png"
                                 class="img-responsive" alt="logo"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>


<div>
    <header class="site-header">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="margin-top:20px">
            <!--  <a class="navbar-brand mr-4" href="{% url 'index' %}">Dipartimento di Ingegneria "Enzo Ferrari"</a> -->

            <div class="container-fluid">

                <div class="collapse navbar-collapse">
                    <ul class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavBar"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    </ul>

                    <a class="nav-item nav-link" href="{%url 'index'  %}">Home</a>

                    <!--bottoni-->
                    <div class="collapse navbar-collapse ml-6 ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#topNavBar"
                                aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation">

                        </button>
                        <a class="nav-item nav-link" href="{% url 'tesi' %}">Tesi </a>

                        <a class="nav-item nav-link" href="{% url 'attivita' %}">
                            Attività Progettuali
                        </a>

                        <form class="navbar-form navbar-left" role="search" method="get"
                              action="{% url 'cerca' %}">
                            <div class="nav-item">
                                <input type="text" name="q" value="{{request.GET.q}}"
                                       placeholder="Search Here">
                                <button type="submit" class="nav-item ">Cerca</button>

                            </div>
                        </form>

                    </div>

                    <div class="navbar-nav">

                        {% if user.is_authenticated %}
                        <a class="nav-item ml-4" href="{% url 'logout' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout
                        </a>
                        <a class="nav-item ml-4" href="{% url 'profile' %}"> Profile </a>

                        <!-- <a class="nav-item ml-4" href="{% url 'profile' %}"> {{ user }} </a> -->


                        {% else %}
                        <a class="nav-item ml-4" href="{% url 'login' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Login
                        </a>

                        <a class="nav-item ml-4" href="{% url 'register' %}">Registration</a>

                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>

<!--Items-->

<!--Search
<form class="navbar-form navbar-left" role="search" method="get" action="#">
    <div class="form-check-inline">
        <input type="text" class="form-control" name="q" value="">
        +
    </div>
    <button type="submit" class="btn btn-sm "> Search</button>
</form>
-->

<!--bottone logout e profile se si è loggati-->


{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}


{% block body%}
{% endblock %}


</body>
</html>
