{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<h1>DETTAGLI</h1>
<div class="content-section">

    <h2 class="account-heading"> Argomento: {{ object.argomento }}</h2>
    <h3 class="text-secondary"> proposto da: {{ object.relatore }}</h3>
    <h3 class="text-secondary"> tirocinio {{ object.tirocinio }}</h3>
    {% if object.tirocinio == 'in azienda' %}
    <h3 class="text-secondary"> nome azienda:  {{ object.nome_azienda }}</h3>
    {% endif %}

</div>
{% endblock %}
