{% extends 'home/base.html' %}

{% block body %}
<div class="container-fluid">

    <div class="editor-indent" style="margin-left: 20px; padding: 0 0 0 40px; margin-right: 50px">


        <div class="col-xs-12">

            <ul class="cards">
                {% for progetto in all_projects %}
                <li>
                    <h3>Argomento : {{ progetto.argomento }}</h3>

                    {% if progetto.relatore %}
                    <h3>Relatore : {{ progetto.relatore }}</h3>
                    <h3>tirocinio : {{ progetto.triocinio_interno }}</h3>
                    <!-- dettagli -->
                    <a href="{% url 'tesi-detail' progetto.id %}" class="btn btn-info btn-xs" role="button"> View
                        Details</a>

                    {% else %}
                    <h3>Tutor : {{ progetto.tutor }}</h3>

                    <!-- dettagli -->
                    <a href="{% url 'attivita-detail' progetto.id %}" class="btn btn-info btn-xs" role="button"> View
                        Details</a>
                    {% endif %}
                </li>


                {% endfor %}
            </ul>

        </div>


    </div>
</div>


{% endblock %}

