{% extends 'home/base.html' %}

{% block body %}
    <div class="container-fluid" id="tourpackages-carousel">
        <div class="row">

            {% for progetto in all_projects %}
            <div class="col-sm-4">
                <div class="caption">
                    <h1>Argomento : {{ progetto.argomento }}</h1>
                    {% if progetto.relatore %}
                    <h1>Relatore : {{ progetto.relatore }}</h1>
                    <h1>tirocinio  : {{ progetto.triocinio_interno }}</h1>
                    {% endif %}

                    <!-- dettagli -->
                    <a href="{% url 'post-detail' tesi.id %}" class="btn btn-info btn-xs" role="button"> View Details</a>

                    <form action="#" method="post" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="project_id" value="{{ progetto.id }}"/>
                        <button type="submit" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </button>
                    </form>
                </div>


            </div>

            {% endfor %}

        </div>
    </div>

{% endblock %}

