{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="content-section">
    <h1>Nuova richiesta:</h1>

    <h3 class="text">
        Verrà creata una richiesta per la tesi  "{{ object.argomento }}""
    </h3>
    <!-- <p class="text">Nome relatore : {{ object.relatore }}</p>
    <p class="text">Nome argomento : {{ object.argomento }}</p>
    <p class="text">Tirocinio : {{ object.tirocinio }}</p>
    {% if object.tirocinio == 'in_azienda' %}
    <p class="text">Nome azienda : {{ object.nome_azienda }}</p>
    {% endif %} -->
    <label for="fname">Nome relatore:</label>
    <input type="text" id="fname" name="fname" value="{{ object.relatore }}" readonly><br><br>

    <label for="fname">Argomento:</label>
    <input type="text" id="fname" name="fname" value="{{ object.argomento }}" readonly><br><br>

    <label for="fname">Tirocinio:</label>
    <input type="text" id="fname" name="fname" value="{{ object.tirocinio }}" readonly><br><br>

    {% if object.tirocinio == 'in_azienda' %}
        <label for="fname">Nome azienda:</label>
        <input type="text" id="fname" name="fname" value="{{ object.nome_azienda }}" readonly><br><br>
    {% endif %}

        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
        <!--<fieldset class="form-group">-->
        <!--<legend class="border-bottom mb-4">Creazione Tesi</legend>-->

                {{ form.as_p }}
        <!--</fieldset>-->
                <div class="form-group">
                    <button class="btn btn-black" type="submit">Salva</button>
                </div>
            </form>

        </div>
    <a href="/">Go back</a>

</div>
{% endblock %}



