{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block body %}

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <!--<fieldset class="form-group">-->
        <!--<legend class="border-bottom mb-4">Creazione Tesi</legend>-->

        {{ form.as_p }}
        <!--</fieldset>-->
        <div class="form-group">
            <button class="btn btn-black" type="submit">Salva</button>
        </div>
    </form>
         <a href="{% url 'profile' %}">Go back</a>

</div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
