<titl>Gentile Professore,</titl></title>
<p>con la presente sono a richiedere la possibilità di lavorare alla sua proposta di tesi.</p>
<p>La prego di confermare la seguente richiesta </p>

<p>nome : {{ name }}</p>
<p>cognome :  {{surname}} </p>
<p>matricola : {{ matricola }} </p>
<p>nome :{{ mail }} </p>
<p>Argomento :{{ argomento }}  </p>
<p>Data di inzio : {{ inizio }} </p>
<p> id : {{ id }}</p>

<p>Per essere reindirezzati al sito
<a href="http://127.0.0.1:8000{% url 'accept-request' id %}">cliccare qui</a>

</p>
<p>Cordiali saluti.</p>
