<titl>Gentile Professore,</titl></title>
<p>con la presente sono a richiedere la possibilità di lavorare a questa prova di tesi finale.</p>
<p>La prego di confermare la seguente richiesta </p>

<p>nome - cognome -  matricola : {{ name }} {{surname}} {{ matricola }}</p>
<p>mail :{{ mail }}</p>
<p>tipologia : {{ tipo }} </p>
<p>titolo :{{ titolo }} </p>
<p>Argomento :{{ argomento }}  </p>
<p>Data di laurea : {{ laurea }} </p>

<p>Per essere reindirezzati al sito
<a href="http://127.0.0.1:8000{% url 'accept-request-att' id %}">cliccare qui</a>

</p>
<p>Cordiali saluti.</p>
