{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="content-section">
    <h1>DETTAGLI</h1>
    <h2 class="account-heading"> Argomento: {{ object.argomento }}</h2>
    <p class="text-secondary"> proposto da: {{ object.relatore }}</p>
    <p class="text-secondary"> laurea: {{ object.data_laurea }}</p>
    <a href="/">Go back</a>
    <a href="{% url 'richiesta-tesi-update' object.id %}">Update</a>
    <a href="{% url 'richiesta-tesi-delete' object.id %}">Delete</a>
    <form method='get' action='#'>
        <input type="submit" value="Send" name="Send"/>
    </form>

</div>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% endblock %}



