{% extends 'home/base_index.html' %}
{% load crispy_forms_tags %}
{% block body %}
<h1>Le tue tesi inviate:</h1>
{% if results %}
{{ title  }}
<ul class="cards">

    {% for richieste in results %}
    <li>
        <h3 class="account-heading"> Argomento: {{ richieste.argomento }}</h3>
        <p class="text-secondary"> proposto da: {{ richieste.relatore }}</p>
        <p class="text-secondary"> data laurea: {{ richieste.data_laurea }}</p>


    </li>
    {% endfor %}
</ul>
{% else %}
<h3>Non ci sono ancora tesi inviate</h3>
{% endif %}
<a href="{% url 'profile' %}">Go back</a>

{% endblock %}
