{% extends 'home/base.html' %}
{% block body %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Cancella la Richiesta Prova Finale</legend>
            <h2> Sei sicuro di voler cancellare la richiesta per la prova finale "{{ object.argomento }}" ?</h2>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Si,Cancella</button>
            <a class="btn btn-outline-secondary" href="{% url 'profile' %}">Annulla</a>

        </div>
    </form>

</div>
{% endblock %}
