{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<h1>Le tue prove finali inviate:</h1>
    {% if all_richiesta_att %}
    {% for richieste in all_richiesta_att %}
        <div class="content-section">
            <div class="col-sm-15">
                <p class="account-heading"> Argomento: {{ richieste.argomento }}</p>
                <p class="text-secondary"> proposto da: {{ richieste.tutor }}</p>
                <p class="text-secondary"> data laurea: {{ richieste.data_laurea }}</p>
                 <p class="text-secondary"> tipologia : {{ richieste.tipologia }}</p>
                <!-- <a href="{% url 'richiesta-tesi-detail' richieste.id %}" class="btn btn-info btn-xs" role="button">Detail</a> -->
            </div>
        </div>
        <br>
    {% endfor %}

    {% else %}
    <h3>Non ci sono ancora prove finali inviate</h3>
    {% endif %}

    <a href="{% url 'profile' %}">Go back</a>

{% endblock %}
