{% extends 'home/base_index.html' %}
{% load crispy_forms_tags %}
{% block body %}
<h1>Le tue prove finali inviate:</h1>
{% if all_richiesta_att %}
<ul class="cards">
    {% for richieste in all_richiesta_att %}

    <li>
        <h3 class="account-heading"> Argomento: {{ richieste.argomento }}</h3>
        <p class="text-secondary"> proposto da: {{ richieste.tutor }}</p>
        <p class="text-secondary"> data laurea: {{ richieste.data_laurea }}</p>
        <p class="text-secondary"> tipologia : {{ richieste.tipologia }}</p>
        <!-- <a href="{% url 'richiesta-tesi-detail' richieste.id %}" class="btn btn-info btn-xs" role="button">Detail</a> -->


    </li>
    {% endfor %}
</ul>
{% else %}
<h3>Non ci sono ancora prove finali inviate</h3>
{% endif %}

<a href="{% url 'profile' %}">Go back</a>

{% endblock %}
