{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
    <!-- <script type="text/javascript">
        $(document).ready(function() {
            /*hideShow();*/
            $('#id_nome_azienda').hide();

            $('#id_tirocinio_azienda').click(function() {
                //hideShow();
                $('#id_nome_azienda').toggle(this.checked);
            });
        });
    </script> -->



    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <!--<fieldset class="form-group">-->
            <!--<legend class="border-bottom mb-4">Creazione Tesi</legend>-->
            {{ form.as_p }}

            <!--</fieldset>-->
            <div class="form-group">
                <button class="btn btn-black" type="submit">Salva</button>
            </div>


        </form>
             <a class="btn btn-outline-secondary" href="{% url 'profile' %}">Annulla</a>

    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
<!--
    <script type="text/javascript">
        var conditional_fields = $("div.nome_azienda");
        conditional_fileds.hide();

        $(".tirocinio_azienda").change(function() {
            if($(this).prop('checked') === 'checked') {
                conditional_fields.show();
            } else {
                conditional_fields.hide();
            }
        });
    </script>
 -->
{% endblock %}
