{% extends 'home/base.html' %}

{% block body %}
<div class="container-fluid" id="tourpackages-carousel">
    <div class="row">

        {% for tesi in all_tesi %}
        <div class="col-sm-4">
            <div class="caption">
                <h3>Argomento : {{ tesi.argomento }}</h3>

                {% if tesi.relatore %}
                <h3>Relatore : {{ tesi.relatore }}</h3>
                <h3>tirocinio : {{ tesi.triocinio_interno }}</h3>
                <!-- dettagli -->
                <a href="{% url 'tesi-detail' tesi.id %}" class="btn btn-info btn-xs" role="button"> View
                    Details</a>
                {% endif %}

            </div>


        </div>

        {% endfor %}

    </div>
</div>

{% endblock %}

