{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="content-section">
        <h1>Sei studente</h1>
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>

        <a href="{%url 'tesi-richiesta' %}">Crea Richiesta Tesi</a>
        <br>
        <a href="{%url 'provafin-richiesta' %}">Crea Richiesta Prova Finale</a>
    </div>

    <br>
    <br>

    <h3>Tutte le richieste di tesi create</h3>
    {% for richieste in all_richiesta_tesi %}
        <div class="content-section">
            <div class="col-sm-15">
                <h5>Relatore: {{ richieste.relatore }} </h5>
                <h5>Argomento: {{ richieste.argomento }}</h5>
                <a href="#" class="btn btn-info btn-xs" role="button">Invia</a>
            </div>
        </div>
    {% endfor %}

    <br>
    <h3>Tutte le richieste di prove finali create </h3>
    {% for richieste in all_richiesta_pfinale %}
        <div class="content-section">
            <div class="col-sm-15">
                <h5>Tutor: {{ richieste.tutor }} </h5>
                <h5>Argomento: {{ richieste.argomento }}</h5>
                <a href="" class="btn btn-info btn-xs" role="button">Invia</a>

            </div>
        </div>
    {% endfor %}

{% endblock %}
