{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="col-md-8">
<div class="content-section-log">
    <form method="POST">
        {% csrf_token %}
        <!--<fieldset class="form-group">-->
        <legend class="border-bottom mb-4">Join In</legend>

        <h7> The username has to be name.surname</h7>
        {{ form|crispy }}

        <!--</fieldset>-->
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
        </small>
    </div>
</div>
</div>
{% endblock %}
